.icon {
    background-image: url(../../../../Images/data-warehouse.png);
}

.icon2 {
    background-image: url(../../../../Images/warehouse.png);
}

.icon3 {
    background-image: url(../../../../Images/warehouses.png);
}

.icon,
.icon2,
.icon3 {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120px;
    padding: 150px;
    transition: 0.5s;
}


.icon:hover {

    background-size: 135px;
}

.icon2:hover {

    background-size: 135px;
}

.icon3:hover {

    background-size: 135px;
}

.ourServices {
    min-height: 500px;
}

.warehousing {
    background-color: rgb(176, 233, 164);
    padding: 100px;
    border-radius: 40px;
}

.packaging {
    background-color: rgb(235, 229, 151);
    padding: 100px;
    border-radius: 40px;
}

.transport {
    background-color: rgb(189, 162, 233);
    padding: 100px;
    border-radius: 40px;
}