.icon {
    background-image: url(https://cdn-icons.flaticon.com/png/512/4200/premium/4200002.png?token=exp=1652018776~hmac=4e6bf6a305bf23f4d9bad208aed7d010);
}

.icon2 {
    background-image: url(https://cdn-icons.flaticon.com/png/512/2938/premium/2938983.png?token=exp=1652018776~hmac=347e9c50f5593c5351bc096db93962a6);
}

.icon3 {
    background-image: url(https://cdn-icons.flaticon.com/png/512/4710/premium/4710351.png?token=exp=1652018776~hmac=33b1b8102d7d2056bba1d096ae74f982);
}

.icon,
.icon2,
.icon3 {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120px;
    padding: 150px;
    transition: 1s;
}


.icon:hover {

    background-size: 125px;
}

.icon2:hover {

    background-size: 125px;
}

.icon3:hover {

    background-size: 125px;
}

.ourServices {
    min-height: 500px;
}