.icon {
    background-image: url(../../../../Images/data-warehouse.png);
}

.icon2 {
    background-image: url(../../../../Images/warehouse.png);
}

.icon3 {
    background-image: url(../../../../Images/warehouses.png);
}

.icon,
.icon2,
.icon3 {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120px;
    padding: 150px;
    transition: 1s;
}


.icon:hover {

    background-size: 125px;
}

.icon2:hover {

    background-size: 125px;
}

.icon3:hover {

    background-size: 125px;
}

.ourServices {
    min-height: 500px;
}