li {
    display: block;
}

.brandName {
    /* border-bottom: 2px solid white;
    border-bottom-left-radius: 80%; */
}

li span {
    color: rgb(255, 255, 255);
    padding-right: 5px;
    text-align: center;
}

.formBtn,
.formInput {
    border: none;
    padding: 10px 10px !important;
    margin-right: 7px;
    border-radius: 5px;
    transition: 0.5s;
}

.formBtn:hover {

    border-radius: 20px;
}

.formInput:hover {

    border-radius: 20px;
}